<% content_for :title, "Asset Type - Admin" %>

<div class="max-w-md">
  <h1 class="<%= ui_title_class %> mb-6">Asset Type: <%= @asset_type.name %></h1>

  <div class="<%= ui_card_class %> p-6 mb-6">
    <p class="<%= ui_text_class %> mb-2"><strong>Name:</strong> <%= @asset_type.name %></p>
    <p class="<%= ui_text_class %>">
      <strong>Type:</strong>
      <% if @asset_type.is_liability? %>
        <span class="<%= ui_badge_danger_class %>">Liability</span>
      <% else %>
        <span class="<%= ui_badge_success_class %>">Asset</span>
      <% end %>
    </p>
  </div>

  <div class="flex space-x-4">
    <%= link_to "Edit", edit_admin_asset_type_path(@asset_type), class: ui_btn_primary_class %>
    <%= link_to "Back", admin_asset_types_path, class: ui_btn_secondary_class %>
    <%= button_to "Delete", admin_asset_type_path(@asset_type), method: :delete, class: ui_btn_danger_class + " cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
