<% content_for :title, "Broker Connections - Admin" %>

<% content_for :breadcrumbs do %>
  <%= ui_breadcrumbs do %>
    <%= ui_breadcrumb_first "Settings" %>
  <% end %>
<% end %>

<div class="w-full">
  <div class="flex justify-between items-center h-10 mb-6">
    <h1 class="<%= ui_title_class %>">Broker Connections</h1>
    <%= link_to "New", new_admin_broker_connection_path, class: ui_btn_primary_class %>
  </div>

  <div class="<%= ui_card_class %> overflow-hidden">
    <% if @connections.any? %>
      <table class="min-w-full">
        <thead class="<%= ui_table_header_class %>">
          <tr>
            <th class="<%= ui_table_th_class %> text-left">Name</th>
            <th class="<%= ui_table_th_class %> text-left">Broker</th>
            <th class="<%= ui_table_th_class %> text-left">Account ID</th>
            <th class="<%= ui_table_th_class %> text-left">Positions</th>
            <th class="<%= ui_table_th_class %> text-left">Last Synced</th>
            <th class="<%= ui_table_th_class %> text-right w-24"></th>
          </tr>
        </thead>
        <tbody>
          <% @connections.each do |connection| %>
            <tr class="<%= ui_table_row_class %>">
              <td class="<%= ui_table_td_class %>">
                <%= link_to connection.name, admin_broker_connection_path(connection), class: "font-medium #{ui_link_class}" %>
              </td>
              <td class="<%= ui_table_td_class %> <%= ui_text_muted_class %>">
                <%= connection.broker_type_name %>
              </td>
              <td class="<%= ui_table_td_class %> <%= ui_text_muted_class %>">
                <%= connection.account_id %>
              </td>
              <td class="<%= ui_table_td_class %>">
                <span class="<%= ui_positive_class %>"><%= connection.mapped_positions.count %> mapped</span>
                <% if connection.unmapped_positions.any? %>
                  <span class="text-amber-600 dark:text-amber-400 ml-2"><%= connection.unmapped_positions.count %> unmapped</span>
                <% end %>
              </td>
              <td class="<%= ui_table_td_class %>">
                <% case connection.sync_status %>
                <% when :ok %>
                  <span class="<%= ui_positive_class %>">Synced</span>
                <% when :behind %>
                  <span class="text-amber-600 dark:text-amber-400"><%= connection.missing_sync_days %> days behind</span>
                <% when :error %>
                  <span class="<%= ui_badge_danger_class %>">Error</span>
                <% when :never %>
                  <span class="<%= ui_text_subtle_class %>">Never synced</span>
                <% end %>
              </td>
              <td class="<%= ui_table_td_class %> text-right whitespace-nowrap">
                <div class="flex items-center justify-end gap-2">
                  <%= link_to "Edit", edit_admin_broker_connection_path(connection), class: ui_link_class %>
                  <%= button_to "Delete", admin_broker_connection_path(connection), method: :delete, class: "text-rose-500 hover:text-rose-600 dark:text-rose-400 dark:hover:text-rose-300", form: { data: { turbo_confirm: "Are you sure?" } } %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="<%= ui_empty_class %>">
        <p class="<%= ui_text_muted_class %> mb-4">No broker connections configured.</p>
        <p class="text-sm <%= ui_text_subtle_class %>">Connect your brokerage account to sync portfolio positions.</p>
      </div>
    <% end %>
  </div>
</div>
