<span id="import_status_badge">
<% case import.status %>
<% when "pending" %>
  <span class="<%= ui_badge_class %>">Pending</span>
<% when "processing" %>
  <span class="<%= ui_badge_info_class %>">Processing</span>
<% when "completed" %>
  <span class="<%= ui_badge_success_class %>">Ready</span>
<% when "failed" %>
  <span class="<%= ui_badge_danger_class %>">Failed</span>
<% when "done" %>
  <span class="<%= ui_badge_class %>">Done</span>
<% end %>
</span>
