<% content_for :title, "Account Types - Admin" %>

<% content_for :breadcrumbs do %>
  <%= ui_breadcrumbs do %>
    <%= ui_breadcrumb_first "Settings" %>
  <% end %>
<% end %>

<div class="w-full">
  <div class="flex justify-between items-center h-10 mb-6">
    <h1 class="<%= ui_title_class %>">Account Types</h1>
    <%= link_to "New", new_admin_account_type_path, class: ui_btn_primary_class %>
  </div>

  <div class="<%= ui_card_class %> overflow-hidden">
    <% if @account_types.any? %>
      <table class="min-w-full">
        <thead class="<%= ui_table_header_class %>">
          <tr>
            <th class="<%= ui_table_th_class %> text-left">Name</th>
            <th class="<%= ui_table_th_class %> text-right w-24"></th>
          </tr>
        </thead>
        <tbody>
          <% @account_types.each do |account_type| %>
            <tr class="<%= ui_table_row_class %>">
              <td class="<%= ui_table_td_class %> font-medium <%= ui_text_class %>"><%= account_type.name %></td>
              <td class="<%= ui_table_td_class %> text-right whitespace-nowrap">
                <div class="flex items-center justify-end gap-2">
                  <%= link_to "Edit", edit_admin_account_type_path(account_type), class: ui_link_class %>
                  <%= button_to "Delete", admin_account_type_path(account_type), method: :delete, class: "text-rose-500 hover:text-rose-600 dark:text-rose-400 dark:hover:text-rose-300", form: { data: { turbo_confirm: "Are you sure?" } } %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="<%= ui_empty_class %>">No account types found.</p>
    <% end %>
  </div>
</div>
