<% content_for :title, "Account Type - Admin" %>

<div class="max-w-md">
  <h1 class="<%= ui_title_class %> mb-6">Account Type: <%= @account_type.name %></h1>

  <div class="<%= ui_card_class %> p-6 mb-6">
    <p class="<%= ui_text_class %>"><strong>Name:</strong> <%= @account_type.name %></p>
  </div>

  <div class="flex space-x-4">
    <%= link_to "Edit", edit_admin_account_type_path(@account_type), class: ui_btn_primary_class %>
    <%= link_to "Back", admin_account_types_path, class: ui_btn_secondary_class %>
    <%= button_to "Delete", admin_account_type_path(@account_type), method: :delete, class: ui_btn_danger_class + " cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
