<% content_for :title, "New Asset" %>

<% content_for :breadcrumbs do %>
  <%= ui_breadcrumbs do %>
    <%= ui_breadcrumb_first "Records" %>
    <%= ui_breadcrumb_item "Assets", assets_path %>
  <% end %>
<% end %>

<div>
  <div class="flex items-center h-10 mb-6">
    <h1 class="<%= ui_title_class %>">New Asset</h1>
  </div>
  <%= render "form", asset: @asset %>
</div>
