<% content_for :title, "Currency - Admin" %>

<div class="max-w-md">
  <h1 class="<%= ui_title_class %> mb-6">Currency: <%= @currency.code %></h1>

  <div class="<%= ui_card_class %> p-6 mb-6">
    <p class="<%= ui_text_class %>"><strong>Code:</strong> <%= @currency.code %></p>
  </div>

  <div class="flex space-x-4">
    <%= link_to "Edit", edit_admin_currency_path(@currency), class: ui_btn_primary_class %>
    <%= link_to "Back", admin_currencies_path, class: ui_btn_secondary_class %>
    <%= button_to "Delete", admin_currency_path(@currency), method: :delete, class: ui_btn_danger_class + " cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
