<% content_for :title, "Category - Admin" %>

<div class="max-w-md">
  <h1 class="<%= ui_title_class %> mb-6">Category: <%= @category.name %></h1>

  <div class="<%= ui_card_class %> p-6 mb-6">
    <p class="<%= ui_text_class %> mb-2"><strong>Name:</strong> <%= @category.name %></p>
    <p class="<%= ui_text_class %>">
      <strong>Type:</strong>
      <% if @category.category_type == "income" %>
        <span class="<%= ui_badge_success_class %>">Income</span>
      <% else %>
        <span class="<%= ui_badge_danger_class %>">Expense</span>
      <% end %>
    </p>
  </div>

  <div class="flex space-x-4">
    <%= link_to "Edit", edit_admin_category_path(@category), class: ui_btn_primary_class %>
    <%= link_to "Back", admin_categories_path, class: ui_btn_secondary_class %>
    <%= button_to "Delete", admin_category_path(@category), method: :delete, class: ui_btn_danger_class + " cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
