<div id="<%= dom_id transaction %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1 <%= ui_text_class %>">Account:</strong>
    <span class="<%= ui_text_muted_class %>"><%= transaction.account_id %></span>
  </div>
  <div>
    <strong class="block font-medium mb-1 <%= ui_text_class %>">Category:</strong>
    <span class="<%= ui_text_muted_class %>"><%= transaction.category_id %></span>
  </div>
  <div>
    <strong class="block font-medium mb-1 <%= ui_text_class %>">Amount:</strong>
    <span class="<%= ui_text_muted_class %>">
      <% if transaction.currency != transaction.default_currency %>
        <span class="text-xs <%= ui_text_subtle_class %> mr-3"><%= transaction.currency %> <%= format_amount(transaction.amount) %></span>
      <% end %>
      <%= format_currency(transaction.amount_in_default_currency) %>
    </span>
  </div>
  <div>
    <strong class="block font-medium mb-1 <%= ui_text_class %>">Transaction type:</strong>
    <span class="<%= ui_text_muted_class %>"><%= transaction.transaction_type %></span>
  </div>
  <div>
    <strong class="block font-medium mb-1 <%= ui_text_class %>">Date:</strong>
    <span class="<%= ui_text_muted_class %>"><%= transaction.date %></span>
  </div>
  <div>
    <strong class="block font-medium mb-1 <%= ui_text_class %>">Description:</strong>
    <span class="<%= ui_text_muted_class %>"><%= transaction.description %></span>
  </div>
</div>
