<% content_for :title, "Accounts" %>

<% content_for :breadcrumbs do %>
  <%= ui_breadcrumbs do %>
    <%= ui_breadcrumb_first "Records" %>
  <% end %>
<% end %>

<div class="w-full">
  <div class="flex justify-between items-center h-10 mb-6">
    <h1 class="<%= ui_title_class %>">Accounts</h1>
    <%= link_to "New", new_account_path, class: ui_btn_primary_class %>
  </div>

  <% if @accounts.any? %>
    <div class="<%= ui_card_table_class %>">
      <table class="min-w-full">
        <thead class="<%= ui_table_header_class %> border-b border-slate-200 dark:border-slate-700">
          <tr>
            <th class="<%= ui_table_th_class %>">Account</th>
            <th class="<%= ui_table_th_class %>">Currency</th>
            <th class="<%= ui_table_th_class %> text-right">Balance</th>
            <th class="<%= ui_table_th_class %> text-right w-24"></th>
          </tr>
        </thead>
        <tbody>
          <% @accounts.includes(:account_type).order("account_types.name", :name).group_by(&:account_type).each do |account_type, type_accounts| %>
            <tr class="<%= ui_table_group_header_class %> <%= ui_table_group_separator_class %>">
              <td colspan="4" class="px-4 py-1.5 text-xs font-medium <%= ui_table_group_text_class %>">
                <%= account_type.name %>
                <span class="<%= ui_text_muted_class %> ml-2"><%= type_accounts.size %> account<%= type_accounts.size == 1 ? '' : 's' %></span>
              </td>
            </tr>
            <% type_accounts.each do |account| %>
              <tr class="<%= ui_table_row_class %> last:border-b-0">
                <td class="<%= ui_table_td_class %> text-sm <%= ui_text_class %> font-medium">
                  <%= link_to account.name, transactions_path(account_id: account.id) %>
                </td>
                <td class="<%= ui_table_td_class %> whitespace-nowrap text-sm <%= ui_text_muted_class %>">
                  <%= account.currency %>
                </td>
                <td class="<%= ui_table_td_class %> whitespace-nowrap text-sm text-right font-medium <%= account.balance >= 0 ? ui_positive_class : ui_negative_class %>">
                  <%= format_amount(account.balance) %>
                </td>
                <td class="<%= ui_table_td_class %> whitespace-nowrap text-right text-sm">
                  <div class="flex items-center justify-end gap-2">
                    <%= link_to "Edit", edit_account_path(account), class: ui_link_class %>
                    <%= button_to "Delete", account, method: :delete, class: "text-rose-500 dark:text-rose-400 hover:text-rose-600 dark:hover:text-rose-300", form: { data: { turbo_confirm: "Are you sure? This will delete all associated transactions." } } %>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="<%= ui_card_class %> <%= ui_empty_class %>">
      <p class="<%= ui_text_muted_class %> mb-4">No accounts yet.</p>
      <%= link_to "Create an account", new_account_path, class: ui_link_class %>
    </div>
  <% end %>
</div>
